<!DOCTYPE html>
<html>
    <head>
        <title>AngularJs App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="app.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" 
        crossorigin="anonymous">
    </head>
    <body ng-app="ContactApp" ng-controller="FormController">
        
        <div class="container">
            <h2 class="text-center">Contac Form</h2>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 pb-5">        
        
                    <!--Form with header-->
                    <form name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-info text-white text-center py-2">
                                    <h3><i class="fa fa-envelope"></i> Contact Form</h3>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                        </div>
                                        <input type="text" class="form-control" name="name" ng-model="name" placeholder="name" required>
                                        <div class="alert alert-danger" ng-show="contactForm.name.$invalid && contactForm.name.$touched">
                                            <strong>Error!</strong> Name is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                        </div>
                                        <input type="email" class="form-control" name="email" ng-model="email" placeholder="demo@test.com" required>
                                        <div class="alert alert-danger" ng-show="contactForm.email.$invalid && contactForm.email.$touched">
                                            <strong>Error!</strong> Please enter valid Email.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-venus-mars"></i></div>
                                        </div>
                                        <select class="form-control" ng-model="gender" name="gender" ng-options="x for x in genders">
                                           
                                        </select>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-info btn-block rounded-0 py-2">Submit</button>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->        
        
                </div>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th>Firstname</th>                    
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="userInfo in users">
                    <td>{{userInfo.name}}</td>
                    <td>{{userInfo.email}}</td>
                    <td>{{userInfo.gender}}</td>
                    <td>
                        <i class="fas fa-trash-alt" ng-click="onDelete(users.indexOf(userInfo))"></i> &nbsp;&nbsp;
                        <i class="fas fa-user-edit" ng-click="onEdit(users.indexOf(userInfo))"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </body>
</html>