<div class="container">
    <div class="row">
        <div class="col-sm-6">       

            <!--Form with header-->
            <form name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>
                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i> Contact Form</h3>
                        </div>
                    </div>
                    <div class="card-body p-3">

                        <!--Body-->
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" name="name" ng-model="name" placeholder="name" required>
                                <div class="alert alert-danger" ng-show="contactForm.name.$invalid && contactForm.name.$touched">
                                    <strong>Error!</strong> Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="email" class="form-control" name="email" ng-model="email" placeholder="demo@test.com" required>
                                <div class="alert alert-danger" ng-show="contactForm.email.$invalid && contactForm.email.$touched">
                                    <strong>Error!</strong> Please enter valid Email.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-venus-mars"></i></div>
                                </div>
                                <select class="form-control" ng-model="gender" name="gender" ng-options="x for x in genders">
                                    
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                                </div>
                                <select class="form-control" ng-model="city" name="city" ng-options="x for x in cities">
                                    
                                </select>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-info btn-block rounded-0 py-2">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
            <!--Form with header-->  
            
            <div class="search-bar">
                <input class="form-control" ng-model="searchText.name" type="text" placeholder="Search" aria-label="Search">
            </div>
            <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userInfo in users | filter: searchText">
                    <td>{{userInfo.name}}</td>
                    <td>{{userInfo.gender | gender}}</td>
                    <td>
                        <i class="fas fa-trash-alt" ng-click="onDelete(users.indexOf(userInfo))"></i> &nbsp;&nbsp;
                        <a ng-href="#!/contacts/{{$index}}"> <i class="fas fa-info-circle" ></i> </a>
                        <!-- <i class="fas fa-user-edit" ng-click="onEdit(users.indexOf(userInfo))"></i> -->
                    </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-sm-6">  
            <div>
                <h3>User Log</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="log in logs">{{log.key}}</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>